@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;400;600&display=swap');



/*  Variables  */


/*  GENERAL STYLE  */
body{
    background-color: black;
    color: whitesmoke;
    font-family: 'IBM Plex Mono', monospace;
}

h1{
    font-size: 5rem;
    font-weight: 600;
}
.btnFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cGreen{
    color: green;
}
.cOrange{
    color: orange;
}
.btnOrange,
.btnOrange:visited{
    color:whitesmoke;
    background-color: orange;
    border: none;
}
.btnOrange:hover,
.btnOrange:focus{
    color:black;
    background-color: orange;
    opacity: .9;
}
.btnGreen,
.btnGreen:visited{
    color:whitesmoke;
    background-color: green;
    border: none;
}
.btnGreen:hover,
.btnGreen:focus{
    color:black;
    background-color: green;
    opacity: .9;
}


/*  HEADER SECTION  */




/*  Select Models SECTION  */

.models{
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.modelsTitle{
    text-align: center;
}

@media screen and (max-width: 992px) {
    .modelsTitle{
        display: none;
    }
    .models{
        display: none;
    }
}

.model{
    height: 150px;
    width: 150px;
    position: relative;
}
.modelText{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modelImg{
    height: 150px;
    width: 150px;
    object-fit: contain;
    opacity: 0.5;
    position: absolute;
    z-index: -1;

}





/*  GALLERY SECTION  */

.box{
    background-color: pink;
    border: 1px solid lightskyblue;
    min-height: 50px;
}